{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>{% block title %}Base page{% endblock %} - pysSword Manager</title>
</head>
<body>


<div class="header">
    <div class="container">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo_black.svg' %}" alt="pysSword Manager" width="200px">
        </a>
        <ul class="menu-list">
            {% if user.is_authenticated %}
                <li><a href="{% url 'password_list' %}">My passwords</a></li>
                <li><a href="{% url 'profile' %}">My profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'generator' %}">Generator</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        {% block content %}
            Содержимое сайта
        {% endblock %}
    </div>
</div>

<div class="footer">
    <div class="container">
        <p><em>© Copyright 2023</em></p>
    </div>
</div>

</body>
</html>