{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base page{% endblock %} - pysSword Manager</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed1c583dfb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="menu-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo_white.svg' %}" alt="pysSword Manager" width="200px">
            </a>
        </div>
        <div class="menu">
            <ul class="main-menu">
                <li class="first"><a href="{% url 'generator' %}"><i class="fa-solid fa-gears"></i> Генератор</a></li>
                {% if user.is_authenticated %}
                    <li class="first"><a href="{% url 'password_list' %}"><i class="fa-solid fa-key"></i> Мои пароли</a>
                    </li>
                    <li class="last"><a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i>
                        Выход</a></li>
                    <li class="last">
                        <a href="{% url 'profile' %}"><i class="fa-solid fa-user-gear"></i>
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </a>
                        {% else %}
                    <li class="last"><a href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i>
                        Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="content">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} message-fade-out"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content_global %}
        Global page container
    {% endblock %}
</div>

<div class="footer">
    <div class="container">
        <p>© 2023 PysSword Manager. Все права защищены</p>
    </div>
</div>

<script src="{% static 'script/base.js' %}"></script>

</body>
</html>