{% extends 'base.html' %}

{% block content %}
    <h2>Register</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <span>or <a href="{%  url 'login' %}">sign in</a> with existing account</span>
    </form>
{% endblock %}