{% extends 'base_sheet.html' %}
{% load static %}
{% load allauth %}
{% load i18n %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <div id="profile-info">
        <h1>
            Добро пожаловать,
            {% if user.first_name %}
                {{ user.first_name }}!
            {% else %}
                {{ user.email }}!
            {% endif %}
        </h1>

        <p>Email: <b>{{ user.email }}</b></p>

        <p>
            Имя: <b>{{ user.first_name }}</b>
            <button class="icon-button"
                    onclick="showEditField('profile-first-name-form', 'id_first_name', '{{ user.first_name }}')">
                <i class="fa fa-duotone fa-pen"></i>
            </button>
        </p>
        <div id="profile-first-name-form" style="display: none;">
            <form method="post" action="{% url 'profile' %}" id="update-first-name-form">
                {% csrf_token %}
                <label for="id_first_name"></label>
                <input class="profile-info-input" type="text" name="first_name" id="id_first_name"
                       value="{{ user.first_name }}" required>
                <button type="submit" class="icon-button"><i class="fa fa-solid fa-floppy-disk"></i></button>
            </form>
        </div>

        <p>
            Фамилия: <b>{{ user.last_name }}</b>
            <button class="icon-button"
                    onclick="showEditField('profile-last-name-form', 'id_last_name', '{{ user.last_name }}')">
                <i class="fa fa-duotone fa-pen"></i>
            </button>
        </p>
        <div id="profile-last-name-form" style="display: none;">
            <form method="post" action="{% url 'profile' %}" id="update-last-name-form">
                {% csrf_token %}
                <label for="id_last_name"></label>
                <input class="profile-info-input" type="text" name="last_name" id="id_last_name"
                       value="{{ user.last_name }}" required>
                <button type="submit" class="icon-button"><i class="fa fa-solid fa-floppy-disk"></i></button>
            </form>
        </div>
    </div>

    <div class="two-factor-auth">
        {% if "totp" in MFA_SUPPORTED_TYPES %}
            {% if authenticators.totp %}
                <p class="two-factor-auth-txt-active">Двухфакторная аутентификация активна</p>
            {% else %}
                <p class="two-factor-auth-txt-not-active">Двухфакторная аутентификация не подключена</p>
            {% endif %}
        {% endif %}
        <a class="two-factor-auth-settings" href="{% url 'mfa_index' %}"><i class="fa-solid fa-gear"></i></a>
    </div>

    <button type="button" onclick="showChangePasswordForm()">
        Изменить пароль
    </button>
    <div id="password-form" style="display: none;">
        <form method="post" action="{% url 'profile' %}" id="change-password-form">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="password">
            {{ password_form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    </div>

    <script src="{% static 'script/user_profile.js' %}"></script>
{% endblock %}