{% extends "allauth/layouts/entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Account Inactive" %}
{% endblock head_title %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% element h1 %}
        {% trans "Account Inactive" %}
    {% endelement %}
    <p>{% trans "This account is inactive." %}</p>
{% endblock content %}
