{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block title %}Авторизация{% endblock %}

{% block head_title %}Авторизация{% endblock head_title %}

{% block content %}
    {% element h1 %}
        Авторизация
    {% endelement %}
    <div class="auth-container">
        <p>
            {% blocktrans %}Если у вас ещё нет учётной записи, пожалуйста, сначала
    <a href="{{ signup_url }}">зарегистрируйтесь</a>{% endblocktrans %}
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
