{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% element h1 %}
        {% trans "Sign Up Closed" %}
    {% endelement %}
    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock content %}
