{% extends 'base_pure.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="content-columns">
        <div class="left_side_main">
            <img class="img-main" src="{% static 'img/sword-shield.svg' %}" alt="PysSword" height="500px">
        </div>

        <div class="right_side_main">
            <div class="slogan">
                <h1>
                    <span>PysSword Manager</span><br>
                    на страже вашей безопасности
                </h1>
                <a href="{% url 'account_login' %}">Начать</a>
            </div>
        </div>
    </div>
{% endblock %}
