{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="content_columns">
        <div class="sub-content">
            <img class="img-main" src="{% static 'img/passwd_black.png' %}" alt="Password image">
        </div>

        <div class="sub-content">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h1>Пароль – это ваш пропуск в безопасность, его лучше нигде не писать, а хранить в надежном месте!</h1>
        </div>
    </div>
{% endblock %}
