{% extends 'base.html' %}
{% load static %}

{% block title %}Генератор паролей{% endblock %}

{% block content %}
    <div class="content_columns">
        <div class="sub-content">
            <h1>Генератор паролей</h1><br>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="passwd-generator" method="post" action="{% url 'generator' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сгенерировать</button>
            </form>
        </div>
        <div class="sub-content">
            {% if passwords %}
                <h1>Сгенерированные пароли</h1><br>
                <p>{% for password in passwords %}
                    <li>{{ password }}
                        <button onclick="copyToClipboard('{{ password | escapejs }}')">Копировать</button>
                    </li>
                {% endfor %}
                </p>
            {% endif %}
            <script src="{% static 'script/pass_gen.js' %}"></script>
        </div>
    </div>
{% endblock %}
