{% extends 'base.html' %}
{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
    <h1>Новый пароль</h1><br>

    <form method="post" action="{% url 'create_password' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="button" onclick="showPassword()">Показать/скрыть пароль</button>
        <button type="button" onclick="generatePassword()">Сгенерировать пароль</button>
        <button type="submit">Сохранить</button>
    </form>

    <a href="{% url 'password_list' %}">К списку паролей</a>
    <script src="{% static 'script/pass_gen.js' %}"></script>
{% endblock %}
