{% extends 'base.html' %}
{% load static %}

{% block title%}Добавить пароль{% endblock%}

{% block left_content %}
    <h1>В разработке...</h1>
{% endblock %}

{% block right_content %}
    <h1>Добавить пароль</h1><br>

    <form method="post" action="{% url 'create_password' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="button" onclick="generatePassword()">Сгенерировать пароль</button>
        <button type="submit">Сохранить пароль</button>
    </form>

    <a href="{% url 'password_list' %}">Вернуться к списку паролей</a>
    <script src="{% static 'script/pass_gen.js' %}"></script>
{% endblock %}
