{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Create New Password</h2>

    <form method="post" action="{% url 'create_password' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="button" onclick="generatePassword()">Generate password</button>
        <button type="submit">Save Password</button>
    </form>

    <a href="{% url 'password_list' %}">Back to Password List</a>
    <script src="{% static 'script/pass_gen.js' %}"></script>
{% endblock %}
