{% extends 'base.html' %}

{% block title %}Мои пароли{% endblock %}

{% block content %}
    <h1>Мои пароли</h1>

    <div class="content_columns">
        <div class="sub-content">
            <form method="get" action="{% url 'password_list' %}">
                {{ search_form.as_p }}
                <button type="submit">Поиск</button>
            </form>
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Логин</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.username }}</td>
                        <td><a href="{% url 'password_detail' entry.id %}">Подробнее</a></td>
                        <td><a href="{% url 'delete_password' entry.id %}">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'create_password' %}">Добавить новый пароль</a>
        </div>

        <div class="sub-content">
            <h1>Тут пока пусто, думаю сделать просмотр деталей в этом блоке</h1>
        </div>
    </div>
{% endblock %}