{% extends 'base.html' %}

{% block content %}
    <h2>Password Details</h2>

    <p><strong>Title:</strong> {{ entry.title }}</p>
    <p><strong>Username:</strong> {{ entry.username }}</p>
    <p><strong>Password:</strong> {{ decrypted_password }}</p>
    <p><strong>Notes:</strong> {{ entry.notes }}</p>
    <p><strong>Website:</strong> {{ entry.website }}</p>
    <p><strong>Date Created:</strong> {{ entry.date_created }}</p>
    <p><strong>Last Updated:</strong> {{ entry.last_updated }}</p>

    <a href="{% url 'password_list' %}">Back to Password List</a>
{% endblock %}
