{% extends 'base.html' %}
{% load static %}

{% block title%}Password details{% endblock%}
{% block content %}

{% endblock %}
{% block left_content %}
<!--    <img class="img-main" src="{% static 'img/passwd.png' %}" alt="Password image">-->
    <h1>Тут пока пусто....</h1>
{% endblock %}

{% block right_content %}
    <h1>{{ password.title }}</h1><br>

    <p><strong>Логин:</strong> {{ password.username }}</p>
    <p><strong>Пароль:</strong> {{ decrypted_password }}</p>
    <p><strong>Заметки:</strong> {{ password.notes }}</p>
    <p><strong>Website:</strong> {{ password.website }}</p>
    <p><strong>Дата создания:</strong> {{ password.date_created }}</p>
    <p><strong>Последнее обновление:</strong> {{ password.last_updated }}</p>

    <a href="{% url 'edit_password' password.id %}">Изменить пароль</a>
    <a href="{% url 'password_list' %}">Назад к списку</a>
{% endblock %}
