{% extends 'base_sheet.html' %}
{% load static %}

{% block title %}Хранилище паролей{% endblock %}

{% block content %}
    <div id="pass-list-container">
        <div id="password-list">
            <h1>Мои пароли</h1>
            <form method="get" action="{% url 'password_list' %}">
                <p>
                    <label for="id_search_term">Поиск:</label>
                    <input type="text" name="search_term" placeholder="Поиск" id="id_search_term">
                    <button type="button" id="clear-search-button"><i class="fa-solid fa-xmark"></i></button>
                    <button type="button" id="create-password-button" onclick="loadPasswordCreation()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
            </form>
            <div id="password-list-list">
                {% for entry in entries %}
                    <a class="password_entry_link" href="#" data-entry-id="{{ entry.id }}">
                        <div class="password_entry">
                            <p class="password_entry_title">{{ entry.title }}</p>
                            <p class="password_entry_login">{{ entry.username }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="password-details"></div>
    </div>

    <script src="{% static 'script/pass_manager.js' %}"></script>
    <script src="{% static 'script/pass_gen.js' %}"></script>
{% endblock %}