{% extends 'base.html' %}

{% block content %}
    <h2>{{ password.title }}</h2>

    <p><strong>Username:</strong> {{ password.username }}</p>
    <p><strong>Password:</strong> {{ decrypted_password }}</p>
    <p><strong>Notes:</strong> {{ password.notes }}</p>
    <p><strong>Website:</strong> {{ password.website }}</p>
    <p><strong>Date Created:</strong> {{ password.date_created }}</p>
    <p><strong>Last Updated:</strong> {{ password.last_updated }}</p>

    <a href="{% url 'edit_password' password.id %}">Edit password</a>
    <a href="{% url 'password_list' %}">Back to Password List</a>
{% endblock %}
