{% extends 'base.html' %}

{% block content %}
    <h2>Password List</h2>

    <form method="get" action="{% url 'password_list' %}">
        {{ search_form.as_p }}
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.title }}</td>
                <td>{{ entry.username }}</td>
                <td><a href="{% url 'password_detail' entry.id %}">View Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'create_password' %}">Add New Password</a>
{% endblock %}
