* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 60vw;
    margin: 0 auto;
}

.header {
    background-color: lightgrey;
    position: fixed;
    width: 100vw;
}

.footer {
    background-color: black;
    color: lightgrey;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
}

.header .container {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
}

/*Модификация меню*/
.menu {
    width: 60vw;
}

.menu ul.main-menu {
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    overflow: hidden;
}

.menu ul.main-menu li.first {
    float: left;
}

.menu ul.main-menu li.last {
    float: right;
}

.menu ul.main-menu li a {
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
}

.menu ul.main-menu li a:hover {
    background-color: black;
    color: lightgrey;
}
/*----------------------*/

.content {
    padding-top: 87px;
    padding-bottom: 42px;
}

.content .container {
    padding: 25px 0;
    list-style: none;
    box-sizing: border-box;
    min-height: 300px;
}
.single-center-box {
    display: flex;
    justify-content: center;
}

.single-box {
    padding: 20px;
    width: 30vw;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.5);
}
.profile-info-text {
    font-size: 1.3em;

}

.fa-pen {
    font-size: 1.3em;
    background: white;
    padding-left: 3px;
    padding-right: 3px;
}

.fa-pen:hover {
    background: black;
    color: white;


}
.profile-first-name {
    display: flex;
}
#id_first_name {
    background: lightgrey;
    font-size: 1.3em;
    color: black;
    border-radius: 5px;
}
.profile-info-save {
    background: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}
.profile-info-save:hover {
    background: black;
}

.fa-floppy-disk {
    font-size: 1.3em;
    background: none;
    padding-left: 3px;
    padding-right: 3px;
}
.fa-floppy-disk:hover {
    color: white;
    background: black;
}



.two-factor-auth {
    display: flex;
    justify-content: left;
}
.two-factor-auth-text {
    font-size: 1.3em;
}

.two-factor-auth-settings {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3em;
    color: black;

}
.two-factor-auth-settings:hover {
    background: black;
    color: white;
    border-radius: 5px;
}

.content_columns {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub-content {
    width: 30vw;
}

.img-main {
    width: 30vw;
}

.img-login {
    width: 30vw;
}

.footer .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}