/* Глобальные стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 20px;
}

button {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    background-color: rgb(28, 153, 214);
    padding: 8px 36px;
    color: white;
    border: 2px solid white;
    display: block;
    margin: 15px auto 5px;
    transition: all 0.5s;
}

button:hover {
    background-color: white;
    color: rgb(28, 153, 214);
    border-color: rgb(28, 153, 214);
}

input {
    font-family: 'Roboto Mono', sans-serif;
    color: black;
    font-size: 1em;
    border: 1px solid rgb(28, 153, 214);
    border-radius: 0;
    padding: 5px;
    background-color: rgb(240, 250, 255);
    margin-left: 5px;
    outline: none;
}

input:focus {
    background-color: white;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background-color: white;
    outline: 2px solid rgb(28, 153, 214);
    outline-offset: 2px;
}

input[type="checkbox"]:checked {
    background-color: rgb(28, 153, 214);
}

textarea {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.8em;
    border: 1px solid rgb(28, 153, 214);
    border-radius: 0;
    padding: 5px;
    background-color: rgb(240, 250, 255);
    outline: none;
}

textarea:focus {
    background-color: white;
}

/*----------------*/

/* Главные контейнеры */
.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    align-items: center;
    background-color: rgb(28, 153, 214);
    position: fixed;
    width: 100vw;
}

.header .container {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.content {
    padding-top: 88px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.content .container {
    padding: 50px;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/*.container p {
    text-align: center;
}*/

/*если удалить .content, то появляется рамка с тенью*/
.content .container_pure {
    box-shadow: none;
}

.footer {
    background-color: black;
    color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.footer .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

/*----------------*/
.menu-logo {
    width: 20%;
}

/* Главное меню */
.menu {
    width: 79%;
    margin-left: 1%;
}

.menu ul.main-menu {
    list-style: none;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

.menu ul.main-menu li.first {
    float: left;
}

.menu ul.main-menu li.last {
    float: right;
}

.menu ul.main-menu li a {
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    transition: all 0.5s;
}

.menu ul.main-menu li a i {
    font-size: 1.4em;
}

.menu ul.main-menu li a:hover {
    background-color: white;
    color: rgb(28, 153, 214);
}

/*----------------*/

/* Messages */
ul.messages {
    margin: 0 auto;
    list-style: none;
    position: absolute;
    width: 100vw;
}

ul.messages li {
    color: white;
    padding: 7px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

ul.messages li.success {
    background-color: forestgreen;
}

ul.messages li.error {
    background-color: firebrick;
}

.message-fade-out {
    animation: messageFadeOut 5s ease;
}

@keyframes messageFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*----------------*/

/* Главная страница */
.img-main {
    height: 500px;
}

.left_side_main {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_side_main {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan {
    text-align: center;
}

.slogan h1 {
    padding-bottom: 30px;
}

.slogan h1 span {
    font-size: 1.75em;
}

.slogan a {
    font-family: 'Roboto Slab', sans-serif;
    background-color: rgb(28, 153, 214);
    padding: 15px 100px;
    color: white;
    text-decoration: none;
    border: 3px solid white;
}

.slogan a:hover {
    font-family: 'Roboto Slab', sans-serif;
    background-color: white;
    color: rgb(28, 153, 214);
    border: 3px solid rgb(28, 153, 214);
}

/*----------------*/

/* Генератор паролей */
.content-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

.pass-gen {
    width: 36%;
}

.passwd-generator > div {
    display: flex;
    align-items: center;
    margin: 2px 0;
    min-height: 35px;
}

.pass-gen-header {
    text-align: center;
}

.pass-gen-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-gen-list > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pass-gen-list .icon-button {
    font-size: 14px;
    background-color: rgb(28, 153, 214);
    padding: 3px 7px;
    color: white;
    border: 1px solid rgb(28, 153, 214);
    border-left: none;
    margin: 5px 0 5px 0;
}

.pass-gen-list .icon-button:hover {
    background-color: white;
    color: rgb(28, 153, 214);
}

.pass-gen-list input {
    font-family: 'Roboto Mono', sans-serif;
    margin: 1px 0;
    width: 250px;
}

label[for="id_pass_quantity"],
label[for="id_pass_length"] {
    font-size: 18px;
    display: block;
    width: 260px;
}

label[for="id_include_digits"],
label[for="id_include_lowercase"],
label[for="id_include_uppercase"],
label[for="id_include_symbols"] {
    font-size: 18px;
    display: block;
    width: 299px;
}

label[for="id_custom_symbols"] {
    display: none;
}

input#id_pass_quantity,
input#id_pass_length {
    width: 45px;
}

input#id_custom_symbols {
    margin: 0;
    width: 310px;
}

input.pass-gen-input {
    font-size: 14px;
    padding: 3px;
}

/*----------------*/

/* Страницы авторизаций */
/*.content .container h1 {
    text-align: center;
}*/

.auth-container {
    /*max-width: 850px;
    width: 100%;
    margin: 0 auto;*/
}

/*.auth-container h1, h2 {
    text-align: center;
}*/

.auth-container p {
    display: flex;
    align-items: center;
    gap: 10px;
    /*justify-content: center;*/ /* сделаю по центру - надо протестить во всех формах, связанных с .auth-container */
    flex-wrap: wrap;
    padding: 5px;
    font-size: 17px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.auth-container label[for="id_login"] { /* просто экспериментировала*/
    display: block;
    text-align: left;
    width: 218px;
}

.auth-container label[for="id_password"] {
    display: block;
    width: 67px;
}

.auth-container #id_login,
.auth-container #id_password {
    margin-left: 0;
}

.auth-container label[for="id_password1"],
.auth-container label[for="id_password2"] {
    display: block;
    /*width: 180px;*/
    text-align: left;
}

.auth-container section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid rgb(28, 153, 214);
    padding: 20px;
}

.auth-container input[type="text"],
.auth-container input[type="password"],
.auth-container input[type="email"] {
    min-width: 250px;
}

.auth-container button {
    margin: 10px 0;
}

.auth-container ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.auth-container li {
    /*margin: 15px 0;*/ /*убрала лишний отступ в настройках двухфакторки*/
}

.auth-container a {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    background-color: rgb(28, 153, 214);
    padding: 7px 29px;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(28, 153, 214);
    display: block;
    text-align: center;
    transition: all 0.5s;
    /*margin: 10px auto 10px auto; !*выравнивание по центру*!*/
}

.auth-container a:hover {
    background-color: white;
    color: rgb(28, 153, 214);
    border-color: rgb(28, 153, 214);
}

#recovery-codes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recovery-codes-container p {
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recovery-codes-container a {
    text-align: center;
    padding: 10px;
    width: 225px;
    margin-bottom: 5px;
}

.auth-container .two-factor-auth-txt-not-active {
    justify-content: center;
}

/*----------------*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Профиль пользователя */
.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-field {
    padding: 5px 0;
}

.profile-field label[for="id_email"] {
    display: block;
    width: 80px;
}

.profile-field #id_email {
    width: 275px;
}

#update-first-name-form label {
    display: block;
    width: 80px;
}

.profile-info-input {
    width: 245px;
}

#update-last-name-form label {
    display: block;
    width: 80px;
}

#profile-info .icon-button {
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(28, 153, 214);
    border: 1px solid rgb(28, 153, 214);
    margin: 0;
    transition: all 0.5s;
}

#profile-info .icon-button:hover {
    background-color: white;
    color: rgb(28, 153, 214);
}

#profile-info div .icon-button {
    margin-left: -5px;
}

#mfa-text-enabled {
    font-weight: bold;
    color: forestgreen;
}

#mfa-text-disabled {
    font-weight: bold;
    color: firebrick;
    margin-left: 5px;
}

#mfa-setup {
    font-size: 16px;
    padding: 5px 7px;
    color: rgb(28, 153, 214);
    background-color: white;
    border: none;
    margin-top: -5px;
    transition: all 0.5s;
}

#mfa-setup:hover {
    background-color: rgb(28, 153, 214);
    color: white;
}

#change-password-form {
    width: 650px;
    padding: 20px;
    margin-top: 15px;
    margin-left: 125px;
    border: 1px solid rgb(28, 153, 214);
}

#change-password-form p {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#change-password-form label {
    display: block;
    width: 190px;
    text-align: left;
}

#change-password-form input {
    width: 300px;
    font-size: 0.9em;
}

#change-password-form ul {
    padding: 20px;
    margin: 5px;
}

#change-password-form button {
    display: block;
    margin: 10px auto 0 auto;
}

/*----------------*/

/*** Менеджер паролей ***/
#pass-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#password-list {
    width: 35%;
}

#password-details {
    width: 50%;
}

#password-list form {
    margin-bottom: 10px;
}

#password-list form p {
    display: flex;
}

label[for=id_search_term] {
    display: none;
}

#password-list form input {
    width: 243px;
    margin: 0;
}

#password-list form button {
    font-size: 16px;
    padding: 5px 10px;
    border-width: 1px;
    border-color: rgb(28, 153, 214);
    margin: 0 0 0 -1px;
    background-color: white;
    color: rgb(28, 153, 214);
}

#password-list form button:hover {
    background-color: rgb(28, 153, 214);
    color: white;
}

#password-list-list {
    max-height: calc(100vh - 348px);
    overflow-y: auto;
}

#password-list-list .password_entry_title {
    text-align: left;
}

#password-list-list .password_entry_login {
    text-align: right;
}

.password_entry {
    background-color: rgb(240, 250, 255);
    padding: 7px;
    border: 1px solid rgb(28, 153, 214);
    margin-bottom: -1px;
    color: black;
    transition: all 0.4s;
}

.password_entry:hover {
    background-color: rgb(28, 153, 214);
    color: white;
}

.password_entry_link:last-child .password_entry {
    margin-bottom: 0;
}

.password_entry_title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.password_entry_login {
    font-size: 0.9em;
    text-align: right;
}

.password_entry_link {
    text-decoration: none;
}

#password-details h1 {
    margin-bottom: 15px;
}

#password-editing-form p {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 5px 0;
}

label[for="id_title"],
label[for="id_website"],
label[for="id_username"],
label[for="id_password"],
label[for="id_notes"] {
    display: block;
    width: 100px;
    text-align: left;
}

label[for="id_created_at"],
label[for="id_last_updated"] {
    display: block;
    width: 199px;
    text-align: left;
}

#password-editing-form input {
    margin: 0;
}

#id_title {
    width: 338px;
}

#id_website, #id_username {
    width: 307px;
}

#id_password {
    width: 239px;
}

#pass-detail-notes textarea {
    width: 338px;
    height: 90px;
}

#id_created_at, #id_last_updated {
    width: 182px;
}

#password-editing-form .icon-button {
    font-size: 16px;
    padding: 5px 10px;
    border-width: 1px;
    border-color: rgb(28, 153, 214);
    margin: 0 0 0 -5px;
    background-color: white;
    color: rgb(28, 153, 214);
}

#password-editing-form .icon-button:hover {
    background-color: rgb(28, 153, 214);
    color: white;
}

#pass-detail-notes {
    display: flex;
}

#save-password-button {
    margin: 0 auto;
    padding: 10px 35px;
}

#delete-password-button {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    background-color: rgb(28, 153, 214);
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    margin: 0 auto;
}

#delete-password-button:hover {
    background-color: white;
    color: rgb(28, 153, 214);
    border-color: rgb(28, 153, 214);
}

.duplicate_password {
    color: firebrick;
    font-size: 0.8em;
    font-style: italic;
    text-align: center !important;
    display: block !important;
}

.duplicate_input {
    background-color: rgba(255, 0, 0, 0.1);
}

/*----------------*/

/**** Адаптация веб-приложения ****/
/**** Стили для планшета ****/
@media (max-width: 1024px) {
    .container {
        width: 760px;
    }

    .content {
        padding-top: 80px;
    }

    .content .container {
        padding: 4% 2% 2% 2%;
    }

    .menu ul.main-menu li a {
        font-size: 1em;
    }

    .menu ul.main-menu li a i {
        font-size: 1.2em;
    }

    .img-main {
        width: 70%;
        height: 450px;
    }

    #profile-info h1 {
        font-size: 26px;
    }

    .slogan a {
        padding: 15px 70px;
    }

    .container h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    #pass-list-container {
        justify-content: space-between;
    }

    #password-list {
        width: 40%;
    }
    #password-details {
        width: 55%;
    }

    #password-list h1 {
        margin-bottom: 20px;
    }

    #password-list form input {
        width: 211px;
    }

    #password-editing-form input,
    #password-editing-form label {
        font-size: 14px;
    }
    /*-----------------------------------*/
    label[for="id_title"],
    label[for="id_website"],
    label[for="id_username"],
    label[for="id_password"],
    label[for="id_notes"] {
        width: 85px;
    }

    label[for="id_created_at"],
    label[for="id_last_updated"] {
        width: 180px;
    }
    label[for="id_created_at"],
    label[for="id_last_updated"] {
        width: 168px;
    }

    #id_title, #pass-detail-notes textarea {
        width: 290px;
    }

    #id_website, #id_username {
        width: 260px;
    }

    #id_password {
        width: 195px;
    }

    /*---------------------------------------------------------------*/


    #password-editing-form .icon-button {
        font-size: 14px;
    }


    #delete-password-button {
        font-size: 14px;
    }

    .auth-container section {
        padding: 10px;
    }

    .auth-container label[for="id_login"] { /* просто экспериментировала*/
        width: 193px;
    }

    .auth-container label[for="id_password"] {
        display: block;
        width: 60px;
    }

    .auth-container p {
        font-size: 15px;
    }

    .auth-container a {
        font-size: 14px;
        padding: 7px 30px;
    }

    .auth-container ul {
        /*margin-top: 5px;*/
        padding: 10px;
    }

    .auth-container button {
        font-size: 14px;
    }

    #recovery-codes-container a {
        width: 200px;
    }

    .pass-gen {
        width: 50%;
    }

    .passwd-generator label {
        font-size: 16px;
    }

    button {
        font-size: 14px;
    }

    .profile-field label[for="id_email"],
    #update-first-name-form label,
    #update-last-name-form label {
        width: 70px;
    }

    .profile-field label,
    .profile-field p {
        font-size: 15px;
    }

    .profile-field #id_email {
        width: 265px;
    }

    .profile-info-input {
        width: 235px;
    }

    #change-password-form {
        margin-left: 13px;
    }

    #change-password-form label {
        font-size: 15px;
    }

    #change-password-form input {
        width: 250px;
    }

    #change-password-form ul {
        font-size: 15px;
    }

    .footer .container p {
        font-size: 14px;
    }
}

/***** стили для мобильного телефона*****/
@media (min-width: 360px) and (max-width: 767px) {
    button {
        font-size: 12px;
    }

    .content {
        padding-top: 50px;
    }

    .container {
        width: 352px;
    }

    .content .container {
        padding: 6% 2% 1% 2%;
    }

    .menu-logo {
        width: 35%;
    }

    .menu {
        width: 63%;
        margin-left: 2%;
    }

    .menu ul.main-menu li a {
        padding: 15px;
    }

    .main-menu li span {
        display: none;
    }

    .container h1 {
        font-size: 18px;
        text-align: center;
    }

    .left_side_main {
        width: 100%;
    }

    .right_side_main {
        width: 100%;
    }

    .img-main {
        width: 45%;
        height: 350px;
    }

    .slogan h1 {
        margin: 0;
    }

    .slogan a {
        width: 120px;
        padding: 10px;
        font-size: 14px;
        display: block;
        margin: 0 auto;
    }

    #profile-info h1 {
        padding-top: 5px;
        font-size: 20px;
        text-align: center;
    }

    .profile-field label {
        font-size: 13px;
    }

    input {
        font-size: 0.8em;
    }

    .profile-field label[for="id_email"],
    #update-first-name-form label,
    #update-last-name-form label {
        width: 65px;
    }

    .profile-field #id_email {
        width: 231px;
    }

    .profile-info-input {
        width: 203px;
    }

    #profile-info .icon-button {
        font-size: 12px;
    }

    .profile-field p {
        font-size: 13px;
    }

    #change-password-form label {
        width: 153px;
    }

    button[type="button"] {
        font-size: 12px;
        margin: 10px auto;
        display: block;
    }

    #change-password-form {
        width: 323px;
        margin-left: 0;
        padding: 5px;
    }

    #change-password-form p label {
        font-size: 13px;
    }

    #change-password-form input {
        width: 150px;
        font-size: 0.7em;
    }

    #change-password-form ul {
        font-size: 13px;
    }

    #profile-password-form .save-password {
        font-size: 12px;
        margin: 10px auto;
        display: block;
    }

    #profile-password-form ul {
        padding: 5px 5px 5px 20px;
    }

    #password-list {
        width: 100%;
    }

    #password-details {
        width: 100%;
    }

    #pass-list-container h1 {
        font-size: 22px;
    }

    #password-list form button {
        font-size: 12px;
        margin: 0 0 0 -1px;
    }

    #password-list form input {
        width: 268px;
    }

    label[for="id_title"],
    label[for="id_website"],
    label[for="id_username"],
    label[for="id_password"],
    label[for="id_notes"] {
        width: 70px;
    }

    #id_title, #pass-detail-notes textarea {
        width: 244px;
    }

    #id_website, #id_username {
        width: 212px;
    }
    #id_password {
        width: 144px;
    }


    #id_created_at, #id_last_updated {
        width: 155px;
    }

    #password-editing-form input,
    #password-editing-form label {
        font-size: 12px;
    }

    #password-details h1 {
        margin-top: 20px;
        margin-bottom: 0;
    }

    #password-details form p {
        display: flex;
    }

    #password-editing-form .icon-button {
        font-size: 12px;
        margin: 0 0 0 -1px;
    }


    #delete-password-button {
        font-size: 12px;
    }

    .sub-content {
        width: 100%;
    }

    .passwd-generator label {
        font-size: 14px;
    }

    label[for="id_pass_quantity"],
    label[for="id_pass_length"] {
        width: 245px;
    }

    label[for="id_include_digits"],
    label[for="id_include_lowercase"],
    label[for="id_include_uppercase"],
    label[for="id_include_symbols"] {
        width: 283px;
    }

    input#id_custom_symbols {
        width: 294px;
    }

    .passwd-generate-button {
        margin-bottom: 20px;
    }

    .pass-gen-list {
        padding: 0 7px;
    }

    .auth-container section {
        padding: 5px;
    }

    .auth-container form label[for="id_email"] {
        display: none;
    }

    .auth-container label[for="id_password1"],
    .auth-container label[for="id_password2"] {
        display: none;
    }

    .auth-container ul {
        margin-top: 0;
        flex-direction: column;
    }

    .auth-container section p {
        font-size: 14px;
    }

    .auth-container h2 {
        font-size: 16px;
        text-align: center;
    }

    .auth-container a {
        font-size: 12px;
        padding: 5px 20px;
        margin: 5px auto;
        text-align: center;
    }

    .auth-container p {
        justify-content: center;
        gap: 5px;
        /*text-align: center;*/
    }

    .auth-container button {
        font-size: 12px;
        padding: 7px 27px;
        margin: 10px auto;
    }

    .auth-container input[type="email"],
    .auth-container input[type="password"] {
        margin-left: 0;
    }

    .auth-container li {
        font-size: 14px;
        margin: 0;
    }

    .auth-container .two-factor-auth-txt-not-active {
        text-align: center;
    }

    #recovery-codes-container p {
        width: 100%;
    }

    #recovery-codes-container a {
        width: 170px;
    }

    .footer .container {
        padding: 10px 0;
    }

    .footer .container p {
        font-size: 12px;
    }
}
